package helloword;

/**
 *
 * @author Cesar
 */
public class HelloWord {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        System.out.println("HELLO WORD BANDA");
    }
}
